<div style="height: 85.1vh; overflow: scroll;">
  <ul class="nav list-group">
    <% date_before = @events_master.first.date %>
    <p><%= date_before.strftime('%a %d %b %Y') %></p>
    <% @events_master.each do |event| %>
      <% unless event.name == "End" || event.name == "Start" %>
        <% if date_before != event.date %>
        <br>
        <br>
          <p><%= event.date.strftime('%a %d %b %Y') %></p>
          <% date_before = event.date %>
        <% end %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a class="nav-link">
            <p><%= event.name %></p>
          </a>
          <span class="badge badge-primary badge-pill"><%= event.price %>€</span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="total">
  <ul class="nav list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <p>TOTAL PRICE</p>
      <span class="badge badge-primary badge-pill"><%= @total_price %>€</span>
    </li>
  </ul>
</div>