<div>
  <ul class="nav list-group" style="padding-top: 85px;">
    <% date_before = @events_master.first.date %>
    <p style="font-weight: lighter; text-indent: 18px; margin-bottom: 5px;"><%= date_before.strftime('%a %d %b') %></p>
    <% @events_master.each do |event| %>
      <% unless event.name == "End" || event.name == "Start" %>
        <% if date_before != event.date %>
          <hr>
          <p style="font-weight: lighter; text-indent: 18px; margin-bottom: 5px;"><%= event.date.strftime('%a %d %b') %></p>
          <% date_before = event.date %>
        <% end %>
        <li class="list-group-item event">
          <a class="d-flex justify-content-between align-items-center">
          <% category = 'home' if event.category == 'Accommodation' %>
          <% category = 'plane' if event.category == 'Plane' %>
          <% category = 'car' if event.category == 'Car' %>
          <% category = 'camera-retro' if event.category == 'Activity' %>
          <i class="fas fa-<%= category %>"></i>
            <p style="font-weight: lighter;"><%= event.name %></p>
          <span class="badge badge-info badge-pill"><%= event.price %>€</span>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="total d-flex justify-content-between">
  <%= link_to "Confirm trip", trip_final_path(@trip), class: "btn btn-primary btn-to-final" %>
  <div class="d-flex align-items-center">
    <span class="badge badge-info badge-pill"><%= @total_price %>€</span>
  </div>
</div>
