<!-- <div class="treep-dates"> -->
  <!-- <h2>Dates</h2> -->
  <%# while @trip.start_date <= @trip.end_date do %>
    <!-- <p><%#= @trip.start_date += 1 %></p> -->
  <!-- <%# end %> -->
<!-- </div> -->

<!--   Modal pour l'ajout d'un event -->
<!-- <button type="button" class="d-none" id="add-node" data-toggle="modal" data-target="#addEvent">
  Add an event
</button> -->
<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render partial: 'events/modal_form', locals: { trip: @trip, event: @event, events_parents: @events_parents, events_children: @events_children } %>
</div>

<!-- <button type="button" id="add-branch" data-toggle="modal" data-target="#addBranch">
  Add a branch + event
</button> -->
<div class="modal fade" id="addBranch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render partial: 'events/branch_modal_form', locals: { trip: @trip, event: @event, events_parents: @events_parents, events_children: @events_children } %>
</div>

<!--   Modal pour le show d'un event -->
<% @trip.events.each do |event| %>
<!--   <button type="button" class="d-none" id="show-node<%#= event.id %>" data-toggle="modal" data-target="#showEvent<%#= event.id %>">
    Show an event
  </button>
  <div class="modal fade" id="showEvent<%#= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%#= render partial: 'events/modal_showevent', locals: {event: event, trip: @trip} %>
  </div> -->

  <!-- LINK POUR PASSER L'EVENT EN MASTER -->
  <%= link_to switch_master_event_path(event), :method => :patch, id: "switch_master#{event.id}" do %>
  <% end %>


  <div class="modal fade" id="update_event<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= render partial: 'events/modal_form', locals: { trip: @trip, event: event, events_parents: @events_parents, events_children: @events_children } %>
  </div>

  <div id="show-tippy<%= event.id %>" class="tippy-content d-none">
    <div class="text-left">

      <div class="d-flex justify-content-between">
        <div>
          <h6><%= event.name %></h6>
          <p><%= event.date.to_time.strftime("%b %d") %> - <%= event.date.to_time.strftime("%b %d") %></p>
          <%#= simple_form_for [@trip, event] do |f| %>
            <%#= f.input :master, :label => "" %>
            <%#= f.submit "Submit", class: "btn btn-light" %>
          <%# end %>
        </div>
        <h5><%= event.price %>€</h5>
        <%= image_tag("montreal.jpg", height: "135px")%>
      </div>


      <div class="tippy-description">
        <p><%= event.description %></p>
      </div>

      <hr />

      <div class="d-flex justify-content-between">
        <div style="padding-bottom: 1px;">
        <% if event.child_ids.count < 2 %>
          <button type="button" class="btn btn-light modal-header-btn-right add-branch-button" data-toggle="modal" data-target="#addBranch">
            <!-- <i class="fas fa-code-branch"></i> -->
            <i class="fas fa-plus-circle"></i>
            Alternative
          </button>
        <% end %>
          <button type="button" class="btn btn-light modal-header-btn-right" data-toggle="modal" data-target="#update_event<%= event.id %>">
            <i class="far fa-edit"></i>
          </button>
          <%= link_to trip_event_path(@trip, event), data: { confirm: "Are you sure?" }, method: :delete do %>
            <button type="button" class="btn btn-light modal-header-btn-right">
              <i class="far fa-trash-alt"></i>
            </button>
          <% end %>
        </div>
        <div class="d-flex align-items-end">
          <p class="text-right"><%= link_to "More info", event.url, target: '_blank'%></p>
        </div>
      </div>
      <script>
        // document.getElementById(`edit_event_${id_node}`.submit());
      </script>

    </div>
  </div>

<% end %>


