<!-- <div class="treep-dates"> -->
  <!-- <h2>Dates</h2> -->
  <%# while @trip.start_date <= @trip.end_date do %>
    <!-- <p><%#= @trip.start_date += 1 %></p> -->
  <!-- <%# end %> -->
<!-- </div> -->

<!--   Modal pour l'ajout d'un event -->
<button type="button" class="d-none" id="add-node" data-toggle="modal" data-target="#addEvent">
  Add an event
</button>
<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render partial: 'events/modal_form', locals: { trip: @trip, event: @event, events_parents: @events_parents, events_children: @events_children } %>
</div>

<!--   Modal pour le show d'un event -->
<% @trip.events.each do |event| %>
  <button type="button" class="d-none" id="show-node<%= event.id %>" data-toggle="modal" data-target="#showEvent<%= event.id %>">
    Show an event
  </button>
  <div class="modal fade" id="showEvent<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render partial: 'events/modal_showevent', locals: {event: event} %>
  </div>

  <div class="modal fade" id="update_event<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= render partial: 'events/modal_form', locals: { trip: @trip, event: event, events_parents: @events_parents, events_children: @events_children } %>
  </div>
<% end %>


