<% @trip.branches.each do |branch| %>

  <div class="treep-dates">
    <h2>Dates</h2>
    <% while @trip.start_date <= @trip.end_date do %>
      <p><%= @trip.start_date += 1 %></p>
    <% end %>
    <%# date1 = DateTime.parse(@trip.start_date) %>
    <%#= date1.day %>
    <%#= (DateTime.parse(@trip.start_date)..DateTime.parse(@trip.end_date)).to_a %>
  </div>

  <div class="treep-branch">
    <p class="text-center"> Branch: <%= branch.id %></p>
    <% branch.events.each do |event| %>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-map-marker"></i> <%= event.name %></h5>
          <p class="card-text"> </p>
          <a href="#" class="btn yellow-btn">More info</a>
        </div>
      </div>
    <% end %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#<%= branch.id %>">
    Add an event
  </button>
  <%= render partial: 'events/modal_form', locals: { id: branch.id, branch: branch } %>
  </div>
<% end %>
