<div class="wrapper-final">
  <div class="row">
  <!--     TIMELINE SUR LA GAUCHE -->
    <div class="col-sm-6 timeline-final">
      <h1>
        <%= @trip.name %>
      <h3>Congrats <%= @trip.user.first_name %>! Find below a summary of you road trip.</h3>
      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
<!--           <a href="#" class="btn btn-primary btn-lg text-center btn-final">Export <i class="fas fa-calendar-check"></i></a>
 -->          <%#= link_to 'Export to calendar', calendar_trip_url(@trip, protocol: :webcal, format: :ics) %>
        </div>
      </div>
      </h1>
      <div class="page">
        <div class="page__demo">
          <div class="main-container page__container">
            <div class="timeline">
              <div class="timeline__group">
<!--                 <span class="timeline__year">2008</span>
 -->                <% @events_master.each do |event| %>
                  <% unless event.name == "End" || event.name == "Start" %>
                  <div class="timeline__box">
                    <div class="timeline__date" style="border-radius: 50%;">
                      <span class="timeline__day"><%= event.date.strftime('%d') %></span>
                      <span class="timeline__month"><%= event.date.strftime('%b') %></span>
                    </div>
                    <div class="timeline__post">
                      <div class="timeline__content">
                        <div class="background-card-final" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'montreal.jpg'%>)">

                          <h4 class="name">
                            <%= event.name %>
                          </h4>
                          <div class="price-bandeau">
                            <p class="price text-center">
                              <%= event.price %>€
                            </p>
                          </div>
                        </div>
                        <div class="card-content">
                          <h4 class="category">
                            <% category = 'home' if event.category == 'Accommodation' %>
                            <% category = 'plane' if event.category == 'Travel' %>
                            <% category = 'camera-retro' if event.category == 'Activity' %>
                            <i class="fas fa-<%= category %>"></i>
                          </h4>
                          <p><i class="fas fa-map-marker-alt"></i> <%= event.location %></p>
                          <p><%= event.description %></p>
                          <p> <a href="<%= event.url %>" target="_blank">More info</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% end %>
              </div>

              <!-- <div class="timeline__group">
                <span class="timeline__year">2014</span>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">14</span>
                    <span class="timeline__month">Jul</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>Travels to France, Italy, Spain, and Peru. After completing fashion editorial in Lima, prolongs stay to make portraits of local people in a daylight studio</p>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>


    </div>
    <div style="width: 50vw; height: 100vh; z-index: -1;" id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>
