<div class="wrapper-final">
  <div class="row">
  <!--     TIMELINE SUR LA GAUCHE -->
    <div class="col-sm-6 timeline-final">
      <h1>
        <%= @trip.name %>
      <h3>Congrats <%= @trip.user.first_name %>! Find below a summary of you road trip.</h3>
      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
          <a href="#" class="btn btn-primary btn-lg text-center btn-final">Export <i class="fas fa-calendar-check"></i></a>
          <%= link_to 'Subscribe', calendar_trip_url(@trip, protocol: :webcal, format: :ics) %>
        </div>
      </div>
      </h1>
      <div class="page">
        <div class="page__demo">
          <div class="main-container page__container">
            <div class="timeline">
              <div class="timeline__group">
                <span class="timeline__year">2008</span>

                <% @events_master.each do |event| %>
                  <div class="timeline__box">
                    <div class="timeline__date">
                      <span class="timeline__day"><%= event.date.strftime('%d') %></span>
                      <span class="timeline__month"><%= event.date.strftime('%b') %></span>
                    </div>
                    <div class="timeline__post">
                      <div class="timeline__content">
                        <h4><%= event.name %></h4>
                        <p><%= event.location %></p>
                        <p><%= event.description %></p>
                        <p> <a href="<%= event.url %>" target="_blank">More info</a></p>
                        <p><%= event.category %></p>
                        <p><%= event.price %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

              <!-- <div class="timeline__group">
                <span class="timeline__year">2014</span>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">14</span>
                    <span class="timeline__month">Jul</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>Travels to France, Italy, Spain, and Peru. After completing fashion editorial in Lima, prolongs stay to make portraits of local people in a daylight studio</p>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>


    </div>
    <div style="width: 50vw; height: 100vh; z-index: -1;" id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>
