<div class="container-index">
  <div class="container">
    <div class="row">

      <div class="col-lg">
        <figure class="front">
          <%= image_tag('photo-new-trip.jpg') %>
          <div class="caption">
            <h2><span class="add-trip-symbol"><i class="fas fa-plus-circle"></i></span></h2>
            <p>Add new trip</p>
            <%= link_to "New trip", new_trip_path(@trip) %>
          </div>
        </figure>
      </div>

      <% @trips.each do |trip| %>
        <div class="col-lg">
          <figure class="front">
            <%= cl_image_tag trip.photo.url(:thumnail), width: 433, height: 260, crop: :fill %>
            <div class="caption">
              <h2>
                <span><%= trip.name.split("-").first.upcase %></span>
                <br>
                <normal><%= trip.name.split("-").last %></normal>
              </h2>
              <h6><%= trip.start_date.to_time.strftime("%b %d") %> - <%= trip.end_date.to_time.strftime("%b %d") %></h6>
              <p>Manage trip</p>
              <%= link_to trip.name, trip_path(trip) %>
            </div>
          </figure>
        </div>
      <% end %>

    </div>
  </div>
</div>
