<%= content_for(:navbar_class, "navbar-show") %>

<div class="sidebar">

  <div class="logo">
    <span class="simple-text"><%= @trip.name.upcase %></span>
  </div>

  <ul class="nav">
    <% @trip.events.each do |event| %>
    <li>
      <a class="nav-link" href="#">
        <i class="fas fa-monument"></i>
        <p><%= event.name %></p>
      </a>
    </li>
    <% end %>
  </ul>

  <!-- <div width="260px" height="260px" id="map" data-markers="<#%= @markers.to_json %>"> -->
  <!-- </div> -->
</div>

<div class="main-panel">

  <%= render 'shared/dashboard_navbar' %>

  <div class="content">
    <%= render 'cytoscape' %>

    <div class="container-fluid">

      <!-- <div class="treep-container"> -->
        <div class="branch-create-form">

        </div>
        <div class="treep-flexbox">
          <%= render partial: 'treep_branches' %>
        </div>
      <!-- </div> -->
    </div>
  </div>



<%= content_for(:footer_class, "footer-show") %>
