<%= content_for(:navbar_class, "navbar-show") %>

<div style="display: flex;">

  <div class="sidebar d-none d-md-block">
    <div class="logo">
      <%= link_to root_path, class: "logo-treep-blue" do %>
      <span class="simple-text">
        <%= image_tag("small-logo.png", class: "logo-image") %>
      </span>
      <% end %>
    </div>
    <%= render 'trips/recap_master_events' %>
  </div>

  <div class="main-panel d-flex fade-in">
    <%= render 'shared/dashboard_navbar' %>
    <%= render 'cytoscape' %>
    <div id="map" data-markers="<%= @markers.to_json %>">
    </div>
  </div>

  <%= render partial: 'treep_branches' %>

  <!-- <div id="loader"></div> -->

</div>

<%= content_for(:footer_class, "footer-show") %>
