
<div class="dashboard-content">
  <div class="left-sidebar-with-map">
    <div class="left-sidebar">
      <h2><%= @trip.name %></h2>



      <p>Events:</p>
      <% @branches.each do |branch| %>
        <% branch.events.each do |event| %>
          <li><%= event.name %></li>
        <% end %>
      <% end %>
    </div>
    <div class="map-dashboard">
      <div
        id="map"
        style="width: 100%;
        height: 100%;"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
  <div class="treep-container">
    <h1>Treep</h1>
    <div class="branch-create-form">
      <%= simple_form_for [@trip, @branch] do |f| %>
        <%= f.input :master, :as => :hidden, :input_html => { :value => false }%>
        <%= f.submit "+ Add a branch", class: "btn yellow-btn" %>
      <% end %>
    </div>
    <div class="treep-flexbox">
      <%= render partial: 'treep_branches' %>
    </div>
  </div>

</div>

<h2>Create a new branch</h2>
<div class="container-mermaid">

  <div class="container text-right">
    <div class="mermaid">
      graph TD
        <% @branches.each do |branch| %>
          <% branch.events.each do |event| %>
            <% if event.branch_events.first.parent_event == 0 %>
              start(( ))---<%= event.name.gsub(/\s/,'-') %>(( ))
            <% else %>
              <% parent = Event.find(event.branch_events.first.parent_event) %>
              <%= parent.name.gsub(/\s/,'-') %>(( ))---<%= event.name.gsub(/\s/,'-') %>(( ))
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
