<%= content_for(:navbar_class, "navbar-show") %>

<div style="display: flex;">

  <div class="sidebar">
    <div class="logo">
      <%= link_to root_path, class: "logo-treep-blue" do %>
      <span class="simple-text"><%= image_tag("small-logo.png", class: "logo-image") %></span>
      <% end %>
    </div>
    <%= render 'recap_master_events' %>
  </div>

  <div class="main-panel d-flex">
    <%= render 'shared/dashboard_navbar' %>
    <%= render 'cytoscape' %>
    <div width="260px" height="260px" id="map" data-markers="<#%= @markers.to_json %>"></div>
  </div>

  <%= render partial: 'treep_branches' %>

</div>

<%= content_for(:footer_class, "footer-show") %>
