<nav class="navbar navbar-expand-lg" color-on-scroll="500">
  <div class="container-fluid">

    <div class="navbar-brand">
      <%= @trip.name %>
    </div>

    <button class="navbar-toggler">
      <span class="burger-lines"></span>
      <span class="burger-lines"></span>
      <span class="burger-lines"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item"> -->
          <%#= link_to 'New', new_trip_path(@trip), class: "nav-link" %>
        <!-- </li> -->
        <li class="nav-item">
          <%= link_to 'My trips', trips_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" data-toggle="dropdown">
            <!-- <span class="no-icon">Account</span> -->
            <%= image_tag "http://kitt.lewagon.com/placeholder/users/cleuteu", class: 'avatar-dashboard' %>
          </a>
          <div class="dropdown-menu">
            <!-- <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a> -->
            <!-- <%#= link_to trips_path, class: "dropdown-item" do %><i class="fas fa-suitcase"></i> My trips<%# end %> -->
            <!-- <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Settings</a> -->
            <%#= link_to edit_user_registration_path do %>
              <!-- <i class="fa fa-cog"> Settings</i> -->
              <%#= t(".settings", default: "Edit profile") %>
            <%# end %>
            <!-- <div class="divider"></div> -->
            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
              <i class="fas fa-sign-out-alt"></i>
              <%= t(".sign_out", default: "Log out") %>
            <% end %>
            <!-- <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a> -->
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
