<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Create a new option path</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <%# child_events = [] %>
    <%# BranchEvent.where(parent_event: event.id).select do |branch| %>
      <%# child_events << Event.find(branch.event_id) %>
    <%# end %>
    <div class="modal-body form-modal modal-body-form">
      <div class="add_branch">
        <%= simple_form_for [trip, event], html: { id: "new_branch_event"} do |f| %>
          <%= f.input :name, label: false, input_html: { id: event.id ? "edit_event_name#{event.id}" : "event_name#{event.id}", placeholder: 'Name of your event', class: "event_name" } %>
          <fieldset class="form-group radio_buttons required event_category form-group-valid">
          <!--           <legend class="col-form-label pt-0">Category
                      <abbr title="required">*</abbr>
                    </legend> -->
            <input type="hidden" name="event[category]" value="">
            <div class="radio-categories">
              <div class="category-choices">
                <div class="form-check">
                  <input class="form-check-input is-valid radio_buttons required" id="branch_edit_event_accommodation<%= event.id %>" type="radio" value="Accommodation" name="event[category]">
                  <label class="collection_radio_buttons category-choice" for="branch_edit_event_accommodation<%= event.id %>"><i class="icon-category fas fa-home"></i><br><p>Housing</p>
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input is-valid radio_buttons required" id="branch_edit_event_plane<%= event.id %>" type="radio" value="Plane" name="event[category]">
                    <label class="collection_radio_buttons category-choice" for="branch_edit_event_plane<%= event.id %>"><i class="icon-category fas fa-plane"></i><br><p>Flight</p>
                    </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input is-valid radio_buttons required" id="branch_edit_event_car<%= event.id %>" type="radio" value="Car" name="event[category]">
                    <label class="collection_radio_buttons category-choice" for="branch_edit_event_car<%= event.id %>"><i class="icon-category fas fa-car"></i><br><p>Car</p>
                    </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input is-valid radio_buttons required" id="branch_edit_event_activity<%= event.id %>" type="radio" value="Activity" name="event[category]">
                    <label class="collection_radio_buttons category-choice" for="branch_edit_event_activity<%= event.id %>"><i class="icon-category fas fa-camera-retro"></i><br><p>Activity</p>
                    </label>
                </div>
              </div>
            </div>
          </fieldset>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :location, label: false, input_html: { class: "event_location", placeholder: 'Location', id: event.id ? "edit_event_location#{event.id}" : "event_location#{event.id}" } %>
              </div>
              <div class="col-md-6">
                <%= f.input :date, as: :string, required: true, label: false, input_html: {class: "datepicker", placeholder: 'Date', id: event.id ? "edit_event_date#{event.id}" : "event_date_branch#{event.id}"} %>
              </div>
            </div>

            <%= f.input :description, label: false, input_html: { id: event.id ? "edit_event_description#{event.id}" : "event_description#{event.id}" }, placeholder: 'Add a quick description' %>
            <div class="row">
              <div class="col-md-3">
                <%= f.input :price, label: false, placeholder: 'Price', input_html: { id: event.id ? "edit_event_price#{event.id}" : "event_price_b#{event.id}" } %>
              </div>
              <div class="col-md-9">
                <%= f.input :url, label: false, placeholder: 'Associated URL if necessary', input_html: { id: event.id ? "edit_event_url#{event.id}" : "event_url_b#{event.id}" } %>
              </div>
            </div>
          </div>
          <%= f.input :photo, class: 'form-control', input_html: { id: event.id ? "branch_event_photo#{event.id}" : "branch_event_photo#{event.id}" } %>
          <%= f.input :photo_cache, as: :hidden, wrapper_html: {class: "col"}  %>
          <%= f.input :parent_ids, as: :hidden, input_html: { id: event.id ? "branch_event_parent_id#{event.id}" : "branch_event_parent_id#{event.id}" } %>
          <%#= f.input :duration, input_html: { id: event.id ? "edit_event_duration#{event.id}" : "event_duration#{event.id}" } %>
          <%#= f.input :confirmed, input_html: { id: event.id ? "edit_event_confirmed#{event.id}" : "event_confirmed#{event.id}" } %>
          <%#= f.input :url, input_html: { id: event.id ? "edit_event_url" : "event_url" } %>
        <div class="modal-footer footer-btn-center">
            <%= f.submit "Submit", class: "btn btn-primary add-branch-submit", disabled: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
