<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
    </div>
    <% child_events = [] %>
    <% BranchEvent.where(parent_event: event.id).select do |branch| %>
      <% child_events << Event.find(branch.event_id) %>
    <% end %>
    <div class="modal-body">
      <%= simple_form_for [branch, event] do |f| %>
        <%= f.input :name %>
        <%= f.input :category %>
        <%= f.input :confirmed %>
        <%= f.input :location %>
        <%= f.input :date %>
        <%= f.input :duration %>
        <%= f.input :description %>
        <%= f.input :url %>
        <%= f.simple_fields_for :branch_events do |b| %>
          <%= b.input :parent_event, collection: child_events %>
        <% end %>
        <%= f.submit "Add event", class: "btn" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
