<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(46, 64, 88,0.4) 0%, rgba(46, 64, 88,0.5) 50%), url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2e086325efab49ac1c075b97afc495b&auto=format&fit=crop&w=1308&q=80');">

  <div class="banner-content">
    <%= link_to image_tag('logo-treep-big.png'), root_path %>
    <h4>Tired of wasting time planning your trip?</h4>
    <div class="container">
      <div class="form-row">
        <div class="col-sm-4 offset-sm-4">
          <%= simple_form_for(@trip) do |f| %>
            <%#= f.input :name, label: false, placeholder: "Name your Trip" %>
            <div class="form-row">
              <%= f.input :start_date,
                as: :string,
                input_html: {class: "datepicker", id: "range_start" },
                wrapper_html: {class: "col"},
                label: false, placeholder: "Starting date"
              %>
              <%= f.input :end_date,
                as: :string,
                input_html: {class: "datepicker", id: "range_end" },
                wrapper_html: {class: "col"},
                label: false, placeholder: "Ending date"
              %>
            </div>
            <div class="form-row">
              <%= f.input :start_location, as: :string, input_html: {id: "start_location" },
              wrapper_html: {class: "col"},
               label: false, placeholder: "Starting city" %>
              <%= f.input :end_location, as: :string, input_html: {id: "end_location" }, wrapper_html: {class: "col"},
               label: false, placeholder: "Ending city" %>
            </div>
            <div class="form-row" style="margin-left: 5px;">
              <%= f.submit "Create", class: "btn btn-primary btn-lg btn-block text-center"  %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>

<%# end %>
<div class="wrapper-langing-page col-sm-10 offset-sm-1">
  <div class="arguments">
    <div class="argument">
      <%= image_tag('1*qSYzfDqtyL6ESBzvxatL4A', class: 'arguments-icon git')%>
      <h4>Build your trip</h4>
      <p>Gather all the points of interest and different options along your route</p>
    </div>
    <div class="argument">
      <%= image_tag("collaborate-icon.png", class: "arguments-icon collaborate-icon")%>
      <h4>Collaborate</h4>
      <p> Add your fellow travelers to your trip to choose the best options.
      </p>
    </div>
    <div class="argument">
      <%= image_tag("export-icon.png", class: "arguments-icon export-icon")%>
      <h4>Export and enjoy! </h4>
      <p>Now that you are ready, export your trip in PDF and to your calendar</p>
    </div>
  </div>

  <div class="pricing">
    <%= render partial: 'pricing.html.erb' %>
  </div>
</div>

<div class="carousel-wrapper">
  <div id="carouselExampleIndicators" class="carousel slide carousel-home" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("img-carousel-1.jpg", class: "carousel-img gradient-carousel")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Pierre S., 27 ans</h5>
          <p>"Sur Treep, j'ai pu facilement organiser mon roadtrip dans le désert de Wadi Rum avec mes potes"</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("img-carousel-2.jpg", class: "carousel-img")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Justine P., 24 ans</h5>
          <p>"Je suis parti pendant 2 semaines avec mes amies. Avant c'était galère pour tout planifier car on n'avait pas forcément les mêmes envies. C'était bien plus facile de se mettre d'accord sur Treep."</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("img-carousel-3.jpg", class: "carousel-img")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Boris P., 31 ans</h5>
          <p>"D'habitude, j'improvise pas mal mes roadtrips en moto mais grâce à Treep, j'ai pu construire mon parcourt autour du HellFest tout en conservant de la flexibilité sur l'avant et l'après."</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("img-carousel-4.jpg", class: "carousel-img")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Pauline F. 26 ans</h5>
          <p>"Je suis partie en vacances une semaine avec mon mec au Maroc. On a pu préparer le voyage sur Treep pour se répartir les réservations à faire."</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("img-carousel-5.jpg", class: "carousel-img")%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Claire F. 28 ans</h5>
          <p>"Lors de notre dernier voyage au Canada avec mon mari, nous avons beaucoup hésité entre un détour par les Grands Lacs ou par un parcours plus classique à Montréal puis Toronto. Nous avons pu mieux peser le pour et le contre grâce à Trip et nous ne regrettons pas d'avoir pu essayer le Canoë sur le Lac Huron."</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
