<%= content_for(:navbar_class, "navbar-home") %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(46, 64, 88,0.8) 0%, rgba(46, 64, 88,0.8) 50%), url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2e086325efab49ac1c075b97afc495b&auto=format&fit=crop&w=1308&q=80');">
  <div class="banner-content">
    <%= link_to image_tag('logo-treep.png'), root_path %>
    <p>Tired of wasting time planning your trip?</p>

    <div class= "landing-page-form">
      <input type="text" class="form-control form-element input-country" placeholder="Which country do you want to visit?"  style=" margin: 0, 5px;">
      <input type="text" class="form-control form-element input-date datepicker" id="range_start" placeholder="Starting date" style=" margin: 0, 5px;">
      <input type="text" class="form-control form-element input-date datepicker" id="range_end" placeholder="Ending Date" style=" margin: 0, 5px;">
      <button type="submit" class="btn btn-primary form-element" style=" margin: 0, 5px;">Create my trip <i class="fas fa-paper-plane"></i>

</button>
    </div>
  </div>

</div>

<div class="arguments">
  <div class="argument">
    <%= image_tag("build-icon.png", class: "arguments-icon build-icon")%>
    <h4>Build your trip, visualize your different options</h4>
    <p>With Treep, gather all the points of interest along your route</p>
  </div>
  <div class="argument">
    <%= image_tag("collaborate-icon.png", class: "arguments-icon collaborate-icon")%>
    <h4>Collaborate with your friends</h4>
    <p> Add your fellow travelers to your trip to choose the best options.
    </p>
  </div>
  <div class="argument">
    <%= image_tag("export-icon.png", class: "arguments-icon export-icon")%>
    <h4> All set? Export and enjoy your trip! </h4>
    <p>Now that you are ready, export your trip in PDF and to your calendar</p>
  </div>
</div>
