<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(46, 64, 88,0.4) 0%, rgba(46, 64, 88,0.5) 50%), url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2e086325efab49ac1c075b97afc495b&auto=format&fit=crop&w=1308&q=80');">

  <div class="banner-content">
    <%= link_to image_tag('logo-treep-big.png'), root_path %>
    <h4>Tired of wasting time planning your trip?</h4>
    <div class="container">
      <div class="form-row">
        <div class="col-sm-4 offset-sm-4">
          <%= simple_form_for(@trip) do |f| %>

                    <%#= f.input :name, label: false, placeholder: "Name your Trip" %>
                <div class="form-row">
                  <%= f.input :start_date,
                    as: :string,
                    input_html: {class: "datepicker", id: "range_start" },
                    wrapper_html: {class: "col"},
                    label: false, placeholder: "Starting date"
                  %>
                  <%= f.input :end_date,
                    as: :string,
                    input_html: {class: "datepicker", id: "range_end" },
                    wrapper_html: {class: "col"},
                    label: false, placeholder: "Ending date"
                  %>

                </div>
                <div class="form-row">
                  <%= f.input :start_location, as: :string, input_html: {id: "start_location" },
                  wrapper_html: {class: "col"},
                   label: false, placeholder: "Starting city" %>
                  <%= f.input :end_location, as: :string, input_html: {id: "end_location" }, wrapper_html: {class: "col"},
                   label: false, placeholder: "Ending city" %>
                </div>
                <div class="form-row" style="margin-left: 5px;">
                <%= f.submit "Start planning my trip!", class: "btn btn-primary btn-lg btn-block text-center" %>
                </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>

<%# end %>
<div class="wrapper-langing-page col-sm-10 offset-sm-1">
  <div class="arguments">
    <div class="argument">
      <%= image_tag('1*qSYzfDqtyL6ESBzvxatL4A.png', class: 'arguments-icon git')%>
      <h4>Build your trip</h4>
      <p>Gather all the points of interest and different options along your route</p>
    </div>
    <div class="argument">
      <%= image_tag("collaborate-icon.png", class: "arguments-icon collaborate-icon")%>
      <h4>Collaborate</h4>
      <p> Add your fellow travelers to your trip to choose the best options.
      </p>
    </div>
    <div class="argument">
      <%= image_tag("export-icon.png", class: "arguments-icon export-icon")%>
      <h4>Export and enjoy! </h4>
      <p>Now that you are ready, export your trip in PDF and to your calendar</p>
    </div>
  </div>

  <div class="pricing">
    <%= render partial: 'pricing.html.erb' %>
  </div>
</div>
